# Ignore the node_modules directory
node_modules/

# Ignore config file
config.json

# ignore img folder
img/# Ignore the node_modules directory
node_modules/

# Ignore config file
config.json
remove_commands.js

# ignore img folder
img/
config.js
